<!-- src/app/dashboard/dashboard/dashboard.component.html -->
<div class="dashboard-container">
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-toolbar>
        <span>Dashboard</span>
      </mat-toolbar>
      
      <mat-nav-list>
        <a mat-list-item routerLink="tasks" routerLinkActive="active">
          <mat-icon matListItemIcon>task</mat-icon>
          <span matListItemTitle>Tasks</span>
        </a>
        
        <a mat-list-item routerLink="profile" routerLinkActive="active">
          <mat-icon matListItemIcon>person</mat-icon>
          <span matListItemTitle>Profile</span>
        </a>
        
        <a mat-list-item routerLink="references" routerLinkActive="active">
          <mat-icon matListItemIcon>history</mat-icon>
          <span matListItemTitle>References</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <span>{{ pageTitle }}</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button (click)="onLogout()">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar>

      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>